@tailwind base;
@tailwind components;
@tailwind utilities;
.react-datepicker__header {
  background-color: unset;
}

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
  border-radius: 9em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0060fc;
}

.slide-enter-active {
  transform: translate3d(100vw, 0, 0);
  max-height: 0;
  -webkit-transform: translate3d(100vw, 0, 0);
  -moz-transform: translate3d(100vw, 0, 0);
  -ms-transform: translate3d(100vw, 0, 0);
  -o-transform: translate3d(100vw, 0, 0);
}

.slide-enter-done {
  transform: translate3d(0, 0, 0);
  max-height: 100%;
  transition: transform 500ms, max-height 300ms;
  -webkit-transition: transform 500ms, max-height 300ms;
  -moz-transition: transform 500ms, max-height 300ms;
  -ms-transition: transform 500ms, max-height 300ms;
  -o-transition: transform 500ms, max-height 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
}

.slide-exit-active {
  transform: translate3d(-100vw, 0, 0);
  max-height: 0;
  transition: transform 500ms, max-height 300ms;
  -webkit-transition: transform 500ms, max-height 300ms;
  -moz-transition: transform 500ms, max-height 300ms;
  -ms-transition: transform 500ms, max-height 300ms;
  -o-transition: transform 500ms, max-height 300ms;
  -webkit-transform: translate3d(-100vw, 0, 0);
  -moz-transform: translate3d(-100vw, 0, 0);
  -ms-transform: translate3d(-100vw, 0, 0);
  -o-transform: translate3d(-100vw, 0, 0);
}
